html,
body,
#root {
  height: 100vh;
}

.app {
  background-color: #eee;
  height: 100vh;
  margin: 0 !important;
}

.messages {
  height: calc(100vh - 235px);
  overflow-y: scroll;
}

.message-form {
  bottom: 0;
  left: 0;
  margin-left: 320px !important;
  position: fixed !important;
  right: 0.5em;
  z-index: 200;
}

.message--self {
  border-left: 2px solid #ffa500;
  padding-left: 8px;
}

.message__image {
  padding: 1em;
}
