html,
body,
#root {
  height: 100vh;
}

.app {
  background-color: #eee;
  height: 100vh;
  margin: 0 !important;
}

.menu {
  padding-bottom: 2em;
}

/* Messages */
.messages {
  height: calc(100vh - 235px);
  overflow-y: scroll;
}

.message-form {
  bottom: 0;
  left: 0;
  margin-left: 320px !important;
  position: fixed !important;
  right: 0.5em;
  z-index: 200;
}

.message--self {
  border-left: 2px solid #ffa500;
  padding-left: 8px;
}

.message__image {
  padding: 1em;
}

.progress-bar {
  font-size: 0.8rem !important;
  margin: 0 !important;
}

/* SidePanel */
.side-panel {
  background-color: #4c3c4c !important;
  font-size: 1.2rem !important;
}

/* ColorPanel */
.color__container {
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  width: 35px;
}

.color__square {
  height: 35px;
  width: 35px;
}

.color__overlay {
  height: 35px;
  transform: rotate(225deg);
  width: 85px;
}
